<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <script type="text/javascript">
        function funct() {
            lucy='hello'
            wrong='noo'
            $.ajax(
                type:'GET',
                url:"http://127.0.0.1:8000/personal/answer.html",
                success:function(data){
                    alert(data);
                },
                failure: function(data){
                    alert('got an error');
                }
            );
            // body...
        }
    </script>
    <input type="submit" value="Submit"  onclick="funct()" />
</form>

</body>
</html>